In [1]:
# a structured array with 4 fields
import numpy as np
X = np.array([('ABC1',33,'1990',6000),
              ('ABC2',25,'1998',30000),
              ('ABC3',25,'1998',79000)],
             dtype=[('EmployeeType','U20'),('Age','i8'),
                    ('Birthyear','U10'),('Salary','i8')])

In [2]:
X['Age']
X['EmployeeType']
X['Birthyear']
X['Salary']

array([ 6000, 30000, 79000])

In [3]:
# make a data franme D with two columns "name"(String) and "Vaccinated"(boolean)each with 5 entiers
# Store the names with true vaccinated recoreds in DataFrame M

In [4]:
import pandas as pd

In [5]:
name = {'A':'Nima', 'B': 'John', 'C':'Melo', 'D':'Mitii', 'E':'Beh'}
Vaccinated = {'A':'True', 'B':'False', 'C':'False', 'D':'True', 'E':'False'}

country = {'A': 'Pakistan', 'B': 'China', 'C': 'China', 'D': 'Pakistan', 'E': 'Pakistan'}

D = pd.DataFrame({'Names':name,'Vaccined':Vaccinated, 'Country':co})
D

   Names Vaccined
A   Nima     True
B   John    False
C   Melo    False
D  Mitii     True
E    Beh    False

In [6]:
M = D[D['Vaccined'] == 'True']
M

   Names Vaccined
A   Nima     True
D  Mitii     True